* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
    font-size: 1rem;
}

a { 
    color: inherit;
    text-decoration: none;
}

.navbar {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    top: 0;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 90px;
    z-index: 1000;
    position: relative;
}

.logo {
    height: 40px;
    width: 40px;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
    border-bottom: 5px solid transparent;
}

.navbar-left nav a:hover {
    color: #00754a ;
    border-bottom-color: #00754a;
    border-width: 5px solid #00754a;
    padding-bottom: 32.5px;
}
.navbar-right { 
    display: flex;
}

.navbar a.highlight { 
    color: white;
    background-color: black;
    padding: 5px 15px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.navbar a.highlight:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar a.lowlight {
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px 15px;
    color: black;
    
}
.navbar a.lowlight:hover {
    color: rgba(0, 0, 0, 0.65);
    border: 2px solid rgba(0, 0, 0, 0.5);
}
.navbar a.lowlight2:hover {
    color: rgba(0, 0, 0, 0.5)
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    background-color: #1e3932;
    margin: 20px;
}
.cards-container:nth-child(3) {
    background-color: #0044b4; /* Rojo */
}
.cards-container:nth-child(4) {
    background-color: #D50032;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.card-img {
    flex: 1 1 50%;
    max-width: 100%;
}

.long-card {
    flex: 1 1 50%;
}

.card-content{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 1.5em;
    position: relative;
    line-height: 2.5rem;
    padding: 60px;
    letter-spacing: -0.2px;
}

.card-content h3 {
    margin-bottom: 3rem;
    font-weight: 900;
    font-size: 2.02rem;
    letter-spacing: -0.8px;
} 
.cards-container .blue h3 {
    font-size: 2.02rem;
}
.p-s{
   margin-bottom: 3rem;
}